$theme-color: #603a9a
$line-color: #aaa

$white: #FAFAFA 
$black: #212121

$font1: 'Montserrat', sans-serif

$min-width: 240px 
$max-width: 968px

$small-screen: '(min-width: 480px)'
$med-screen: '(min-width: 640px)'
$large-screen: '(min-width: 969px)'

* 
  box-sizing: border-box 

.profileOverview
  display: flex 
  flex-direction: column 
  justify-content: flex-start 
  align-items: flex-start
  width: 100%
  margin-top: -60px 
  max-width: $max-width
  min-width: $min-width
  padding: 0px 20px 
  position: relative 

div.profileImageSection
  display: flex 
  flex-direction: row 
  justify-content: flex-start 
  align-items: flex-start 
  pointer-events: none 

div.profileImageOuter
  width: 120px
  height: 120px 
  display: flex 
  justify-content: center
  align-items: center 
  border-radius: 50%
  overflow: hidden 
  z-index: 10
  border: 5px solid $white 

  img 
    max-width: 200%
    max-height: 200%
    z-index: 11 

h1 
  margin: 0
  margin-top: 4px 
  font-size: 24px 
  font-family: $font1 
  color: $theme-color
  font-weight: 700 

p 
  margin-top: 1px 
  margin-bottom: 0px 
  font-size: 16px 
  font-family: $font1 
  color: $theme-color

h6.education
  color: $theme-color
  font-family: $font1
  font-size: 20px 
  font-weight: 600 
  width: 100%
  border-top: 1px solid $line-color
  padding-top: 32px 
  margin-top: 32px 

p.educationName 
  margin-top: 24px 
  font-size: 16px 
  font-weight: 500

p.educationTime
  font-size: 14px 
  font-weight: 300

div.photos 
  padding: 0px 20px
  width: 100%
  display: flex 
  flex-direction: column 
  justify-content: flex-start 
  align-items: center 
  margin-top: 48px 
  // border-top: 1px solid #603a9a
  max-width: $max-width

div.photosInner
  position: relative 
  padding: 64px 0px 
  width: 100%
  border-top: 1px solid $line-color
  display: flex 
  flex-direction: column 
  justify-content: flex-start 
  align-items: center 

div.photoOuter 
  width: 100%
  height: auto 
  margin-bottom: 32px
  overflow: hidden 
  display: flex 
  justify-content: center 
  align-items: center 
  position: relative 

  img 
    width: 100% 
    height: auto 

  p.caption 
    position: absolute 
    text-align: center 
    padding: 8px 24px 
    font-size: 14px 
    font-family: $font1 
    color: $white
    background-color: $theme-color
    width: 100%
    bottom: 0



@media #{$small-screen}
  .profileOverview
    margin-top: calc((10vw + 12px) * -1)

  div.profileImageOuter
    width: calc(20vw + 24px)
    height: calc(20vw + 24px)

@media #{$med-screen}
  div.photosInner
    flex-direction: row 
    justify-content: flex-start 
    flex-wrap: wrap 
    padding: 16px 0px 

  div.photoOuter
    margin: 24px 24px 
    min-width: 188px 
    max-width: 480px 
    width: calc(50% - 24px)

  div.photoOuter:nth-child(2n - 1)
    margin-left: 0

  div.photoOuter:nth-child(2n)
    margin-right: 0

@media #{$large-screen}
  .profileOverview
    margin-top: -109px

  div.profileImageOuter 
    height: 218px
    width: 218px 

  div.photoOuter
    width: calc(33.33333% - 31px)

  div.photoOuter:nth-child(2n),
  div.photoOuter:nth-child(2n + 1)
    margin: 24px 23px 

  div.photoOuter:nth-child(3n + 1)
    margin-left: 0

  div.photoOuter:nth-child(3n)
    margin-right: 0